@model BlueInsuranceTest.Web.Models.CourseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course</h1>

<h4>Create</h4>
<hr />
@if(ViewData["errorMessage"] != null)
{
<div class="row mb-3">
    <div class="alert alert-danger alert-dismissible fade show col-sm-12">
        @ViewData["errorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
}
<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-sm-4">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="TeacherName" class="control-label"></label>
            <input asp-for="TeacherName" class="form-control" />
            <span asp-validation-for="TeacherName" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="StudentLimit" class="control-label"></label>
            <input asp-for="StudentLimit" class="form-control" />
            <span asp-validation-for="StudentLimit" class="text-danger"></span>
        </div>        
    </div>
    <div class="row">
        <div class="form-group col-sm-1">
            <input type="submit" value="Create" class="btn btn-primary btn-lg" />
        </div>
        <div class="form-group col-sm-1">
            <a asp-action="Index" class="btn btn-light btn-lg">Back</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
